
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body {
	width: 100%;
	font-family: arial;
}

h1 {
	font-size: 34px;
	padding: 15px;
	font-weight: 700;
}

h3 {
	font-size: 27px;
	margin: 5px auto 5px auto;
	font-weight: 600;
}

h4 {
	font-size: 21px;
	margin: 0px 30px;
}

.hr {
	width:80%;
	height: 5px;
	background-color: black;
	margin: 25px auto;
}

.d-flex {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	box-shadow: 5px 10px 10px black;
	background-color: #DCBD90;
}

.w-1200 {
	max-width: 1200px;
	margin: 0px auto;
}

.op-09 {
	opacity: 0.9;
}

.p-20 {
	padding: 20px;
}

.elite-font {
	font-family: 'Special Elite', cursive;
}

.main {
	background-image: url(img/bck1.png);
	position: absolute;
	background-size: cover;
	background-attachment: fixed;
}

.m-w-500 {
	min-width: 500px;
}

.header {
	justify-content: center;
	text-align: center;
	max-width: 1200px;
	margin: 5em auto 5em auto;
	background-color: #DCBD90;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.letters {
  display: inline-block;
  line-height: 1em;
}

.h-500 {
	height: 500px;
}

.m-b-5 {
	margin-bottom: 50px;
}
/*========== footer ============*/

.footer {
	margin: 0px auto;
	max-width: 1200px;
	min-height: 200px;
	background-color: #B47211;
	bottom: 0px;
	position: relative;
}

/* ----- media queries ----- */

@media only screen and (max-width: 500px) {

}