
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
	width: 100%;
	font-family: arial;
	background-color: #363434;
}

h1 {
	font-size: 38px;
	padding: 15px;
	font-weight: 700;
	color: #FFFCFC;
}

h2 {
	font-size: 25px;
	padding: 10px 10px 0px 10px;
	margin-bottom: 0px;
	font-weight: 200;
	color: #FFFCFC;
}

h3 {
	font-size: 27px;
	margin: 5px auto 5px auto;
	font-weight: -100;
	color: #FFFCFC;
}

h4 {
	font-size: 21px;
	margin: 0px 30px;
	color: #FFFCFC;
}

.hr {
	width:80%;
	height: 5px;
	background-color: black;
	margin: 25px auto;
}

.d-flex {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	box-shadow: 5px 10px 10px black;
/*	background-color: #DCBD90;*/
	background: linear-gradient(to bottom, #6995AD, #456779);
	-webkit-border-radius: 24% 0px 0px 0px;
-moz-border-radius: 24% 0px 0px 0px;
border-radius: 24% 0px 0px 0px;
}

.w-1200 {
	max-width: 1200px;
	margin: 0px auto;
}

.w-100 {
	width: 100%;
	margin: 0px auto;
}

.op-09 {
	opacity: 0.9;
}

.p-20 {
	padding: 20px;
}

.p-b-120 {
	padding-bottom: 120px;
}

.elite-font {
	font-family:  'Luckiest Guy', cursive;
	font-weight: 200;
}

.car-pic {
	max-width: 30vw;
	height: auto;
}

.overflow-hidden {
	overflow: hidden;
}
/* ------ main content ---------*/

.title_img {
	position:fixed;
	background-size: cover;
	opacity: 0.2;
	z-index: -4;
}

.logo {
	position: absolute;
	margin-top: -200px;
	max-width: 250px;
}

.animation {
	animation-name: myanime;
  	animation-duration: 1s;
  	animation-delay: 2s;
   /*	animation-iteration-count:infinite;*/
}

/*.op-delay {
	animation-name: opac-delay;
  	animation-duration: 5s;
}

@keyframes opac-delay {
	
}*/

.cont-anim {
	animation-name: cont-anime;
  	animation-duration: 6s;
 /* 	animation-delay: 5s;*/
}

.book-name {
	margin-top: 10px;
	margin-bottom: -5px;
}

@keyframes cont-anime {
	0% {opacity:0;}
	850% {opacity:0;}
	86% {opacity:0; width: 50px;}
	93% {opacity:1; width: 80px;}
	94% { width: 50px;}
	95% {width: 60px;}
	96% {width: 53px;}
	97% {width: 58px;}
	98% {width: 52px;}
	99% {width: 56px;}
	100% {width: 50px;}
}


.main {
	position: absolute;
	background-size: cover;
	background-attachment: fixed;
}

.m-w-500 {
	min-width: 500px;
}

.aside {
	position:fixed;
	top: 50px;
	margin-left: 0px;
	flex-direction: column;
	z-index: 2;
}

.header {
	justify-content: center;
	text-align: center;
	max-width: 1200px;
	margin: 5em auto 5em auto;
	padding-top: 60px;
	/*background-color: #574c4c;*/
	background: linear-gradient(to bottom, #574c4c, #4b4b44)
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.letters {
  display: inline-block;
  line-height: 1em;
}

.h-500 {
	height: 500px;
}

.m-b-5 {
	margin-bottom: 50px;
}
/*========== footer ============*/

.footer {
	margin: 0px auto;
	max-width: 1200px;
	min-height: 200px;
	background-color: #B47211;
	bottom: 0px;
	position: relative;
}

/* ----- media queries & others ----- */

@keyframes myanime {
	0% {top:0px;}
	25% {top:30px;}
	50% {top:-40px;}
	75% {top:10px;}
	90% {top:-10px;}
	100% {top:0px;}
}

@media only screen and (max-width: 1400px) {
	.car-pic {
		max-width: 40vw;
	}
}


@media only screen and (max-width: 1200px) {
	.car-pic {
		max-width: 45vw;
	}
}

@media only screen and (max-width: 900px) {
	.car-pic {
		max-width: 55vw;
	}
}

@media only screen and (max-width: 767px) {
	.logo {
		margin-top: -250px;
		max-width: 180px;
	}
}
@media only screen and (max-width: 600px) {
	.car-pic {
		max-width: 70vw;
	}
	.p-b-120 {
		padding-bottom: 100px;
		margin-bottom: 0px;
		line-height: 1;
	}
	.logo {
		margin-top: -250px;
		max-width: 140px;
	}
}

@media only screen and (max-width: 500px) {
	h5 {
		font-size: 19px;
		margin-bottom: 0px;
		line-height: 1;
	}
	p {
		margin-bottom: 0px;
		line-height: 1;
	}
}

